####################
### EXAMPLE FILE ###
####################
### * COPY this file to <template-app/src/template_app/config/.env>
### * Fill in with real values before running the application
### * DO NOT commit .env to the repository
### * Use a secret manager for production
#################################################################
DATABASE_URL=sqlite:///./test.db
SECRET_KEY=your-secret-key-here
DEBUG=True
