#######################################################################
# GITATTRIUTES COMMON SETTINGS
# adopted from examples: https://github.com/gitattributes/gitattributes
#
# Line-ending normalization:
#   text    → Git treats the file as text and normalizes line endings
#             (i.e. CRLF is converted to LF in the repository).
#   binary  → Git leaves the file completely untouched.
#
# Note: "binary" is a shorthand for "-text -diff", meaning:
#       - Git will NOT normalize line endings.
#       - Git will NOT attempt to diff the file.
#######################################################################
#
#######################################
# Global setting
#######################################
# Detect text files and convert them to LF. Do nothing with binary.
*                    text=auto eol=lf
#
#######################################
# Source code
#######################################
*.bash               text eol=lf
*.bat                text eol=crlf
*.c                  text
*.cjs                text
*.cmd                text eol=crlf
*.coffee             text
*.cpp                text
*.csh                text eol=lf
*.css                text diff=css
*.fish               text eol=lf
.husky/*             text eol=lf
*.h                  text
*.htm                text diff=html
*.html               text diff=html
*.inc                text
*.js                 text
*.jsx                text
*.ksh                text eol=lf
*.less               text
*.ls                 text
*.map                text -diff
*.mjs                text
*.od                 text
*.onlydata           text
*.php                text diff=php
*.pl                 text
*.ps1                text eol=crlf
*.pxd                text diff=python
*.py                 text diff=python
*.py3                text diff=python
*.pyi                text diff=python
*.pyw                text diff=python
*.pyx                text diff=python
*.qss                text
*.r                  text
*.R                  text
*.rb                 text diff=ruby
*.rmd                text
*.Rmd                text
*.rnw                text
*.Rnw                text
*.sass               text
*.scm                text
*.scss               text diff=css
*.sh                 text eol=lf
*.sql                text
*.styl               text
*.tag                text
*.ts                 text
*.tsx                text
*.vb                 text eol=crlf
*.vbs                text eol=crlf
*.xht                text
*.xhtml              text diff=html
*.zsh                text eol=lf
#
#######################################
# Jupyter Notebooks
#######################################
# Set up <pip install nbdime> and
# then <nbdime config-git --enable> for .ipynb diff.
*.ipynb              text eol=lf diff=jupyternotebook
# In order to turn off the diff ->
# uncomment this and comment-out the previous line.
# *.ipynb           bynary
#
#######################################
# Documentation
#######################################
contents.lr          text
*.md                 text diff=markdown
*.markdown           text diff=markdown
*.mdwn               text diff=markdown
*.mdown              text diff=markdown
*.mkd                text diff=markdown
*.mkdn               text diff=markdown
*.mdtxt              text
*.mdtext             text
*.mdx                text diff=markdown
*.rd                 text
*.Rd                 text
*.rst                text
AUTHORS              text
CHANGELOG            text
CHANGES              text
CONTRIBUTING         text
COPYING              text
copyright            text
*COPYRIGHT*          text
INSTALL              text
license              text
LICENSE              text
NEWS                 text
NOTICES              text
readme               text
*README*             text
TODO                 text
#
#######################################
# Documents (text-based)
#######################################
*.adoc               text
*.bibtex             text diff=bibtex
*.doc                text diff=astextplain
*.DOC                text diff=astextplain
*.docx               text diff=astextplain
*.DOCX               text diff=astextplain
*.dot                text diff=astextplain
*.DOT                text diff=astextplain
*.epub               text diff=astextplain
*.fodp               binary
*.fodt               binary
*.latex              text diff=tex
*.LaTeX              text diff=tex
*.odp                binary
*.odt                binary
*.pdf                binary
*.PDF                binary
*.ppt                binary
*.pptx               binary
*.PPTX               binary
*.rtf                text diff=astextplain
*.RTF                text diff=astextplain
*.rss                text
*.tex                text diff=tex
*.TeX                text diff=tex
*.txt                text
*.textile            text
#
#######################################
# Serialisation (data formats)
#######################################
*.cdl                text
*.csv                text
*.dif                text
*.geojson            text
*.gml                text
*.json               text
*.json5              text
*.jsonc              text
*.kml                text
*.toml               text
*.tab                text
*.tsv                text
*.wkt                text
*.xml                text
*.yaml               text
*.yml                text
#
#######################################
# Templates
#######################################
*.atom               text
*.ejs                text
*.erb                text
*.haml               text
*.handlebars         text
*.hbs                text
*.hbt                text
*.jade               text
*.latte              text
*.liquid             text
*.mustache           text
*.njk                text
*.phtml              text
*.svelte             text
*.tmpl               text
*.tpl                text
*.twig               text
*.vue                text
#
#######################################
# Localization / i18n
#######################################
*.po     text
*.pot    text
*.mo     binary
#
#######################################
# Configs
#######################################
browserslist         text
.checkignore         text
.ciocheck            text
.ciocopyright        text
*.cfg                text
*.cnf                text
*.conf               text
*.config             text
*.desktop            text
Dockerfile           text
.dockerignore        text
.editorconfig        text
*.env                text
.gitattributes       text export-ignore
.gitconfig           text export-ignore
.gitignore           text export-ignore
.gitmodules          text export-ignore
.gitkeep             text export-ignore
.htaccess            text
*.*ignore            text
*.inf                text
*.ini                text
*.lektorproject      text
*.lock               text
MANIFEST.in          text
Makefile             text
makefile             text
.nojekyll            text
package.json         text eol=lf
package-lock.json    text eol=lf -diff
*plist               text
pnpm-lock.yaml       text eol=lf -diff
.prettierrc          text
.project             text
Procfile             text
# any file endings with .rc is a configuration file for a tool
*.*rc                text
yarn.lock            text eol=lf -diff
#
#######################################
# Images
#######################################
*.ai                 binary
*.avif               binary
*.bmp                binary
*.eps                binary
*.fodg               binary
*.gif                binary
*.gifv               binary
*.icns               binary
*.ico                binary
*.jng                binary
*.jp2                binary
*.jpg                binary
*.jpeg               binary
*.jpx                binary
*.jxr                binary
*.odg                binary
*.pdn                binary
*.png                binary
*.PNG                binary
*.psb                binary
*.psd                binary
# Treat SVG as text for diffs as they're XML.
# If you want to treat them as an asset binary,
# then comment-out the following line and uncomment the line after.
*.svg                text diff=xml
# *.svg              binary
*.svgz               binary
*.tif                binary
*.tiff               binary
*.wbmp               binary
*.webp               binary
*.xcf                binary
#
#######################################
# Audio
#######################################
*.aac                binary
*.flac               binary
*.kar                binary
*.m4a                binary
*.mid                binary
*.midi               binary
*.mka                binary
*.mkv                binary
*.mp3                binary
*.mp4                binary
*.oga                binary
*.ogg                binary
*.ogv                binary
*.opus               binary
*.ra                 binary
*.wav                binary
#
#######################################
# Video
#######################################
*.3gpp               binary
*.3gp                binary
*.as                 binary
*.asf                binary
*.asx                binary
*.avi                binary
*.fla                binary
*.flv                binary
*.m4v                binary
*.mng                binary
*.mov                binary
*.mp4                binary
*.mpeg               binary
*.mpg                binary
*.ogv                binary
*.swc                binary
*.swf                binary
*.webm               binary
#
#######################################
# Fonts
#######################################
*.eot                binary
*.otc                binary
*.otf                binary
*.ttc                binary
*.ttf                binary
*.woff               binary
*.woff2              binary
#
#######################################
# Archives
#######################################
*.7z                 binary
*.bz                 binary
*.bz2                binary
*.bzip2              binary
*.dmg                binary
*.gz                 binary
*.jar                binary
*.lz                 binary
*.lzma               binary
*.pyz                binary
*.rar                binary
*.sz                 binary
*.tar                binary
*.tar.gz             binary
*.tar.xz             binary
*.taz                binary
*.tbz                binary
*.tbz2               binary
*.tgz                binary
*.tlz                binary
*.txz                binary
*.xz                 binary
*.Z                  binary
*.zip                binary
*.zst                binary
#
#######################################
# Build artifacts / Generated files
#######################################
*.app                binary
*.bin                binary
*.cdf                binary
*.db                 binary
*.deb                binary
*.diff               -text
*.dll                binary
dist/**              binary
.dta                 binary
*.dylib              binary
*.elf                binary
*.exe                binary
*.feather            binary
*.fit                binary
*.fits               binary
*.fts                binary
*.fods               binary
*.geotiff            binary
*.gpkg               binary
*.h4                 binary
*.h5                 binary
*.hdf                binary
*.hdf4               binary
*.hdf5               binary
*.ko                 binary
*.lib                binary
*.mat                binary
*.msi                binary
*.nc                 binary
*.npy                binary
*npz                 binary
*.o                  binary
*.obj                binary
*.odb                binary
*.ods                binary
*.p    		         binary
*.parquet            binary
*.pickle             binary
*.patch              -text
*.pkl 		         binary
*.pyc 		         binary export-ignore
*.pyd	   	         binary
*.pyo    	   	     binary export-ignore
*.pnp.*              binary
*.Rda                binary
*.rdata              binary
*.Rdata              binary
*.RData              binary
*.rda                binary
*.rdb                binary
*.Rdb                binary
*.rds                binary
*.Rds                binary
*.rdx                binary
*.Rdx                binary
*.rpm                binary
*.sav                binary
*.so                 binary
*.sqlite             binary
*.sys                binary
*.wkb                binary
*.xls                binary
*.XLS                binary
*.xlsx               binary
*.XLSX               binary
**/.yarn/cache/**    binary
**/.yarn/patches/**  binary
**/.yarn/plugins/**  binary
**/.yarn/releases/** binary
#
#######################################
# Temporary / Junk
#######################################
*.bak                binary
*.lnk                binary
*.temp               binary
*.tmp                binary
#
#######################################
# GitHub Linguist overrides
#######################################
# Fix syntax highlighting
tsconfig.json        linguist-language=JSON-with-Comments
# Mark generated files
external-deps/**/*   linguist-generated=true
dist/**/*            linguist-generated=true
*.pyc                linguist-generated=true
*.map                linguist-generated=true
*.min.js             linguist-generated=true
# Mark vendored dependencies
vendor/**            linguist-vendored=true
third_party/**       linguist-vendored=true
# Mark documentation
docs/**              linguist-documentation=true
# Exclude tests from language stats
tests/**             linguist-detectable=false
# Exclude SQL migrations from stats
migrations/**        linguist-detectable=false
# Force binary classification
*.dat                linguist-binary=true
# Disable heuristics for ambiguous extensions
*.inc                linguist-heuristics=false
